<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login Again</title>
</head>
<body>
   <h2 style="text-align: center;"> Invalid password or username! </h2>
   <h3 style="text-align:center;"><a href="{{ url_for('login') }}">Login: Try Again</a></h3>
   <img src="https://thumbs.dreamstime.com/b/type-wrong-password-many-times-as-you-forget-your-password-to-log-type-wrong-password-many-times-as-you-forget-your-229284327.jpg" alt="wrong" style="padding-left:8cm; padding-right: 7cm; padding-top:1cm; padding-bottom: 3cm;">
</body>
</html>